In [1]:
import pandas as pd
# import numpy as np
#  import matplotlib.pyplot as plt
# import seaborn as sns

In [3]:
df = pd.read_csv('Iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
df.isnull().sum()

# Check for null values

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [5]:
df.describe()
# Get a summary of the dataset. Visualize the distribution of each feature

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:

df.info()# Get a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:

df.shape # Get the shape of the DataFrame
# Get the number of rows and columns in the DataFrame

(150, 5)

In [8]:
df.dtypes# Get the data types of each column
#Turn categorical variables into quantitative variables in Python.
# Convert categorical variables into dummy/indicator variables

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [9]:
print(df.columns)# Get the column names
df.columns = df.columns.str.strip()# Remove leading and trailing whitespace from column names

Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')

In [13]:
df['variety'] = df['variety'].astype('category')# Convert 'variety' to a categorical variable
df['variety_cat'] = df['variety'].cat.codes
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety  variety_cat
0           5.1          3.5           1.4          0.2  Setosa            0
1           4.9          3.0           1.4          0.2  Setosa            0
2           4.7          3.2           1.3          0.2  Setosa            0
3           4.6          3.1           1.5          0.2  Setosa            0
4           5.0          3.6           1.4          0.2  Setosa            0

In [14]:
iris_encoded = pd.get_dummies(df, columns=['variety'])
iris_encoded.head()

,sepal.length,sepal.width,petal.length,petal.width,variety_cat,variety_Setosa,variety_Versicolor,variety_Virginica
0,5.1,3.5,1.4,0.2,0,True,False,False
1,4.9,3.0,1.4,0.2,0,True,False,False
2,4.7,3.2,1.3,0.2,0,True,False,False
3,4.6,3.1,1.5,0.2,0,True,False,False
4,5.0,3.6,1.4,0.2,0,True,False,False